[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-telegram-bot = "*"
youtube-transcript-api = "*"
openai = "*"
duckduckgo-search = "*"
langchain-openai = "*"
langchain-community = "*"
pip = "*"
install = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.13"
