[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
python-telegram-bot = "*"
youtube-transcript-api = "*"
openai = "*"
duckduckgo-search = "*"
langchain-openai = "*"
langchain-community = "*"
langgraph = "*"
pyowm = "*"
spacy = "*"
wikipedia = "*"
langchain-google-community = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
gkeepapi = "*"

[dev-packages]
pytest = "*"
pylint = "*"
